// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "./bootstrap/scss/bootstrap";
// Then add additional custom code here
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
// All links in the website
a {
  color: black;
  text-decoration: none;
}
// Header
#nav {
  background-color: $pink;
}
.menu {
  gap: 15px;
  align-items: center;
}
.menu-item a {
  color: black;
  font-weight: 500;
}
.menu-toggle {
  background-color: $pink;
  border: none;
}
// Banner
.banner {
  background-color: black;
  height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.banner h4 {
  color: white;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  margin: 0;
}
// Slider Section
.sliderSection {
  height: 100vh;
  position: relative;
}
.metaslider .slides img {
  height: 100vh !important;
  width: 100% !important;
  object-fit: cover;
}
.btnDiv {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bouton {
  background-color: #f6a6c1;
  border: 1px solid #f6a6c1;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  color: black !important;
  text-decoration: none;
  text-transform: none;
  display: inline-block;
}
// Cupcakes Section
.cupcakeSection {
  height: 100vh;
  background-image: url("../assets/images/BG-image_Cupcakes.png");

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cupcakesTitle {
  color: black;
  text-align: center;

  font-family: "Inter", sans-serif;
}
.cupcakes {
  padding: auto;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  height: auto !important;
  padding: 10px !important;
}
.added_to_cart {
  text-transform: none;
  margin-top: 15px;
}
.woocommerce-loop-product__title {
  text-align: center;
  color: black;
  text-transform: none;
}
.amount {
  color: black;
  font-size: 16px;
}
.price {
  text-align: center;
}
.woocommerce-Price-currencySymbol {
  color: black;
}

.button {
  background-color: $pink !important;
  border: 1px solid $pink !important;
  border-radius: 15px;
  color: black !important;
  font-weight: 400 !important;
  width: max-content;
  text-align: center;
}

// Events Section

.eventSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  background-image: url("../assets/images/eventSectionBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.eventTitle h3 {
  font-family: "Inter", sans-serif;
}
.events {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  gap: 24px;
}
.event-1 {
  text-align: left;
}
.event-1 h4 {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.event-2 h4 {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.event-2 {
  text-align: left;
}
.eventText {
  font-size: 24px;
}

.clients h4 {
  text-align: center;
}
.images {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 50px;
}

// About Section

.aboutSection {
  background-image: url("../assets/images/aboutBG.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.aboutTitle {
  text-align: center;
  padding: 50px;
  font-family: "Inter", sans-serif;
}
.entryText {
  text-align: center;
  padding: 50px;
}
.entryText p {
  font-style: italic;
}
.michelle {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// Contact Section
.contactSection {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.contactTitle {
  font-family: "Inter", sans-serif;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
}
.wpcf7-form-control {
  border: 1px solid #808080 !important;
  border-radius: 10px !important;
}

// Footer Section
.site-footer {
  height: 20vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.firstContainer {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.secondContainer {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 25px;
}
.torontoName {
  text-align: center;
  color: white;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: grid;
  grid-template-columns: 130px 130px;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.links a {
  color: white;
  text-transform: none;
  text-decoration: none;
}
.thirdContainer {
  color: white;
  font-family: "Montserrat", sans-serif;
}

// Cart Page
.page {
  height: 100vh !important;
}
.mainBody {
  display: flex;
}
#post-7 {
  background-image: url("../assets/images/cupcakelogo.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}
.filters {
  padding: 15px;
}
.wc-block-price-filter__range-input-progress {
  color: $pink;
}
.wc-block-components-product-rating__stars {
  color: $pink;
}

.woocommerce-cart-form {
  border-radius: 15px;
  margin: 25px;
}
.cart-collaterals {
  flex-direction: row !important;
  gap: 25px;
  padding: 0 !important;
}
.shop_table {
  border: 2px solid $pink !important;
  border-radius: 15px;
}
.alsoLookedDiv {
  width: 50vw;
}
.cart-item {
  border-color: $pink !important;
}

// Shop Page
.mainBody {
  padding: 65px;
  width: 100vw;
}
.products {
  justify-content: space-between;
  gap: 10px;
}
.woocommerce-LoopProduct-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.star-rating {
  color: $pink;
}
// Checkout Page
.messageCheckout {
  width: 50vw;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 28vh;
}
.messageCheckout p {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  color: $pink;
}
.checkout-main {
  padding: 10px;
  height: 100vh;
}
.checkout_coupon {
  width: 50vw;
}
.woocommerce-checkout-review-order {
  display: flex;
  padding: 5px;
  gap: 10px;
}
.woocommerce-checkout-payment {
  width: 40vw;
}
.col-1 {
  width: 50vw;
}
.col-2 {
  width: 50vw;
}
.woocommerce-notices-wrapper {
  display: flex;
  justify-content: center;
}
.woocommerce-error {
  border: 2px solid $pink;
  border-radius: 10px;
  width: 50vw;
}

// Individual Product Page
.woocommerce-product-gallery {
  width: 350px !important;
}
.shopBody {
  margin-bottom: 50px;
}
.product-div {
  width: 100vw;
}

// Account Page
.woocommerce {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.woocommerce-MyAccount-navigation {
  width: 100vw !important;
}
.woocommerce-MyAccount-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.woocommerce-MyAccount-navigation ul li {
  text-decoration: none;
  list-style: none;
}

// Mobile Toggle Menu Button
@media only screen and (max-width: 600px) {
  body {
    font-family: "Montserrat", sans-serif;
    width: 100vw;
  }

  .toggled {
    justify-content: center;
    align-items: center;
  }
  // Banner
  .banner h4 {
    font-size: 16px;
  }

  // Slider Section
  .sliderSection {
    height: 100vh;
  }

  // Cupcakes Section
  .cupcakeSection {
    height: 100vh;
  }
  .products {
    display: flex;
    flex-direction: column;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    width: 300px !important;
    height: 400px !important;
  }
  .attachment-woocommerce_thumbnail {
    width: 200px !important;
  }
  .post-64 {
    visibility: hidden;
  }
  .post-67 {
    visibility: hidden;
  }

  // Events Section

  .eventSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    background-image: url("../assets/images/eventSectionBG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .eventTitle h3 {
    font-family: "Inter", sans-serif;
  }
  .events {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    gap: 24px;
  }
  .event-1 {
    text-align: left;
  }
  .event-1 h4 {
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  .event-2 h4 {
    text-align: center;
    font-family: "Inter", sans-serif;
  }
  .event-2 {
    text-align: left;
  }
  .eventText {
    font-size: 24px;
  }

  .clients h4 {
    text-align: center;
  }
  .images {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
